.box {
    width: 200px;
    display: inline-flex;
    background: conic-gradient(at 50% 20px, red 150deg, #0000 0 210deg, green 0) blue;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.box::before {
    content: "";
    padding-top: calc(86.6% -10px);
    width: 100%;
    box-sizing: border-box;
    border:solid transparent;
    border-bottom-color: gold;
    border-width: 0 18px 10px 18px;
}

.slideContainer {
    width: 100%;
}

.slider {
    -webkit-apperance: none;
    apperance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}
